<html>
<head>
<title> Ye Olde Fight Club </title>
</head>
<body>
<h1>Ye Olde Fight Club!</h1>

<%= link_to "How To Play", instructions_path %>
<%= link_to "Stats", controller: 'users' %>
<br>
<%= image_tag("gameplay.jpg", alt: "Ye Olde Fight Club in action!") %>
<br>

</body>
</html>
