<html>
<head>
<title> Ye Olde Fight Club: Instructions </title>
</head>
<body>
<h1>How to Play</h1>

<p> The goal of the game is to be the last sphere standing.
  Every turn you roll the die to get the number of spaces you must move.
  Then you choose a tile that number of spaces away.
  If you land on the same tile as an opponent, you fight them.
  Everyone starts at 100 health. If you run out of health, you die.
  The last player standing wins the game! </p>

  <%= link_to "Back to main page", root_path %>
</body>
</html>
